@charset "UTF-8";
#content, #footer, .intro, .optionList .option {
  zoom: 1;
}

#content:before, #footer:before, .intro:before, .optionList .option:before {
  content: "";
  display: table;
}

#content:after, #footer:after, .intro:after, .optionList .option:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #333;
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

iframe[name=google_conversion_frame] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
  display: none !important;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #FFF;
  z-index: 3;
}

#nav .center {
  position: relative;
  margin: 0 auto;
  max-width: 1256px;
  min-width: 740px;
  height: 100%;
}

#nav .logo {
  display: block;
  margin: 15px 0 15px 5px;
  width: 240px;
  height: 40px;
  float: left;
}

#nav .logo img {
  width: 100%;
  display: block;
  border: 0;
}

#nav .btnSection {
  float: right;
  margin: 8px 0;
}

#nav .btnSection .share {
  display: inline-block;
}

#nav .btnSection span, #nav .btnSection a {
  display: inline-block;
  vertical-align: middle;
}

#nav .btnSection span a {
  margin: 0;
  text-decoration: none;
  color: #FFF;
}

#nav .btnSection span a:visited {
  color: #FFF;
}

#nav .btnSection a {
  margin: 0 10px;
}

#nav .btnSection a svg {
  width: 54px;
  height: 54px;
}

#nav .btnSection span {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#nav .btnSection span a {
  display: block;
  padding: 6px 15px 7px;
}

#nav .btnSection span.notmobile:hover {
  opacity: 0.7;
}

#nav .btnSection span.notmobile:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(2px, 3px);
  -moz-transform: translate(2px, 3px);
  -ms-transform: translate(2px, 3px);
  -o-transform: translate(2px, 3px);
  transform: translate(2px, 3px);
}

#nav .btnSection .goTest {
  margin: 0 0 0 20px;
  background-color: #008E6B;
  -webkit-box-shadow: 2px 3px 0 #007256;
  -moz-box-shadow: 2px 3px 0 #007256;
  box-shadow: 2px 3px 0 #007256;
}

#nav .btnSection .openPopout {
  margin: 0 5px 0 20px;
  background-color: #D04242;
  -webkit-box-shadow: 2px 3px 0 #BB1A1A;
  -moz-box-shadow: 2px 3px 0 #BB1A1A;
  box-shadow: 2px 3px 0 #BB1A1A;
}

#nav .btnSection .intTest {
  margin: 0 0 0 20px;
  background-color: #2D55A8;
  -webkit-box-shadow: 2px 3px 0 #054E8C;
  -moz-box-shadow: 2px 3px 0 #054E8C;
  box-shadow: 2px 3px 0 #054E8C;
}

#header {
  position: relative;
  width: 100%;
  min-width: 1000px;
  height: 590px;
  padding-top: 70px;
  background-image: url(../Images/bg_header.png);
  background-position: center 0;
  background-repeat: repeat-x;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  z-index: 1;
}

#header:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#header .goContent {
  position: absolute;
  width: 148px;
  height: 76px;
  left: 50%;
  bottom: -60px;
  margin-left: -74px;
  cursor: pointer;
}

#header .goContent img {
  width: 100%;
}

#header .goContent span {
  position: absolute;
  display: block;
  width: 28px;
  height: 12px;
  left: 50%;
  bottom: 20%;
  margin-left: -14px;
  background-image: url(../Images/icon_arrow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  animation: jump 0.5s infinite;
}

@keyframes jump {
  0% {
    bottom: 20%;
  }
  50% {
    bottom: 24%;
  }
  100% {
    bottom: 16%;
  }
}

.itemOnTable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.itemOnTable .locate {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.itemOnTable .locate > div {
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.itemOnTable .item {
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.itemOnTable .map {
  top: 70px;
  left: -460px;
  width: 380px;
  height: 228px;
  background-image: url(../Images/pic_map.png);
}

.itemOnTable .compass {
  top: 70px;
  left: 16px;
  width: 76px;
  height: 136px;
  background-image: url(../Images/pic_compass.png);
}

.itemOnTable .camera {
  right: -45px;
  width: 268px;
  height: 222px;
  background-image: url(../Images/pic_camera.png);
}

.itemOnTable .notebook {
  top: 70px;
  right: -460px;
  width: 332px;
  height: 360px;
  background-image: url(../Images/pic_notebook.png);
}

.itemOnTable .passport {
  top: 256px;
  left: -302px;
  width: 272px;
  height: 212px;
  background-image: url(../Images/pic_passport.png);
}

.itemOnTable .sunglass {
  top: 368px;
  right: -278px;
  width: 128px;
  height: 116px;
  background-image: url(../Images/pic_sunglass.png);
}

#content {
  position: relative;
  margin-top: -78px;
  min-width: 1000px;
  background-color: #8CD5F0;
  background-image: url(../Images/bg_beach.png);
  background-position: center 0;
  background-repeat: repeat-x;
  z-index: 0;
}

#content h2 {
  position: relative;
  margin: 296px auto 0;
  width: 576px;
  text-align: center;
  z-index: 2;
}

#content h2.knowledegTitle {
  width: 470px;
}

#content h2 img {
  width: 100%;
}

#content .decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

#content .decoration .locate {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

#content .decoration .locate > span {
  position: absolute;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 0;
}

#content .plane {
  top: 100px;
  right: 0;
  width: 136px;
  height: 136px;
  background-image: url(../Images/pic_airplane.png);
}

#content .boat {
  top: 260px;
  right: 160px;
  width: 76px;
  height: 76px;
  background-image: url(../Images/pic_boat.png);
}

#footer {
  position: relative;
  margin: 0 0 -20px 0;
  z-index: 2;
  padding: 0 0 20px;
  min-width: 1000px;
  background-color: #8CD5F0;
}

#footer p {
  width: 1000px;
  margin: 10px auto;
  font-size: 14px;
  color: #005943;
}

#footer a {
  color: #005943;
  text-decoration: none;
}

#footer .link {
  margin-left: 80px;
}

.intro {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
}

.intro .title {
  position: relative;
  margin: 3.2% auto 2.2%;
  width: 300px;
  height: 300px;
  background-image: url(../Images/bg_title.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.intro .text {
  position: absolute;
  display: none;
}

.intro .text img {
  display: block;
  width: 100%;
  border: 0;
}

.intro .text_1 {
  top: 47%;
  left: 1.666666666666667%;
}

.intro .text_2 {
  top: 37%;
  left: 3%;
}

.intro .text_3 {
  top: 27%;
  left: 6.333333333333333%;
}

.intro .text_4 {
  top: 20%;
  left: 12%;
}

.intro .text_5 {
  top: 11.66666666666667%;
  left: 18.66666666666667%;
}

.intro .text_6 {
  top: 6.666666666666667%;
  left: 27.66666666666667%;
}

.intro .text_7 {
  top: 3%;
  left: 37%;
}

.intro .text_8 {
  top: 1.666666666666667%;
  left: 47%;
}

.intro .text_9 {
  top: 24.33333333333333%;
  left: 35.66666666666667%;
}

.intro .text_10 {
  top: 42.33333333333333%;
  left: 53.33333333333333%;
}

.intro .text_11 {
  top: 63.33333333333333%;
  left: 41.66666666666667%;
}

.intro .describe {
  position: relative;
  width: 384px;
  margin: 0 auto;
}

.intro .describe .web {
  display: block;
}

.intro .describe .mobile {
  display: none;
}

.intro .describe p {
  text-align: center;
}

.intro .describe p img {
  width: 100%;
}

.intro .boy {
  position: absolute;
  bottom: -16px;
  left: -254px;
  width: 232px;
  height: 308px;
  background-image: url(../Images/pic_boy.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.intro .girl {
  position: absolute;
  bottom: -16px;
  right: -250px;
  width: 228px;
  height: 308px;
  background-image: url(../Images/pic_girl.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.optionList {
  position: relative;
  width: 832px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.optionList .option {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 15px 16px;
  width: 242px;
  height: 234px;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.optionList .option.notmobile:hover {
  border: 3px solid #008E6B;
}

.optionList .option.notmobile:hover .num {
  top: 12px;
  left: 7px;
  background-position-y: -20px;
}

.optionList .option.notmobile:hover .icon {
  margin-top: 4px;
}

.optionList .option.notmobile:hover .text {
  background-position-y: -56px;
}

.optionList .option.selected {
  background-color: #008E6B;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.optionList .option.selected:hover .text {
  background-position-y: 0;
}

.optionList .option.selected .num {
  display: none;
}

.optionList .option.selected .icon {
  background-position-y: -154px;
}

.optionList .option.selected .icon:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../Images/pic_item_selected.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.optionList .option_1 .num {
  background-position: 0px 0;
}

.optionList .option_1 .icon {
  background-position: 0px 0;
}

.optionList .option_1 .text {
  background-position: 0px 0;
}

.optionList .option_2 .num {
  background-position: -20px 0;
}

.optionList .option_2 .icon {
  background-position: -154px 0;
}

.optionList .option_2 .text {
  background-position: -196px 0;
}

.optionList .option_3 .num {
  background-position: -40px 0;
}

.optionList .option_3 .icon {
  background-position: -308px 0;
}

.optionList .option_3 .text {
  background-position: -392px 0;
}

.optionList .option_4 .num {
  background-position: -60px 0;
}

.optionList .option_4 .icon {
  background-position: -462px 0;
}

.optionList .option_4 .text {
  background-position: -588px 0;
}

.optionList .option_5 .num {
  background-position: -80px 0;
}

.optionList .option_5 .icon {
  background-position: -616px 0;
}

.optionList .option_5 .text {
  background-position: -784px 0;
}

.optionList .option_6 .num {
  background-position: -100px 0;
}

.optionList .option_6 .icon {
  background-position: -770px 0;
}

.optionList .option_6 .text {
  background-position: -980px 0;
}

.optionList .option_7 .num {
  background-position: -120px 0;
}

.optionList .option_7 .icon {
  background-position: -924px 0;
}

.optionList .option_7 .text {
  background-position: -1176px 0;
}

.optionList .option_8 .num {
  background-position: -140px 0;
}

.optionList .option_8 .icon {
  background-position: -1078px 0;
}

.optionList .option_8 .text {
  background-position: -1372px 0;
}

.optionList .option_9 .num {
  background-position: -160px 0;
}

.optionList .option_9 .icon {
  background-position: -1232px 0;
}

.optionList .option_9 .text {
  background-position: -1568px 0;
}

.optionList .num {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 10px;
  background-image: url(../Images/text_item_index.png);
  background-repeat: no-repeat;
}

.optionList .icon {
  position: relative;
  display: block;
  margin: 7px auto 0;
  width: 154px;
  height: 154px;
  background-image: url(../Images/pic_item.png);
  background-repeat: no-repeat;
}

.optionList .text {
  display: block;
  margin: 0 auto;
  width: 196px;
  height: 56px;
  overflow: hidden;
  background-image: url(../Images/text_item.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.send {
  position: relative;
  display: block;
  margin: 34px auto 88px;
  width: 256px;
  height: 68px;
  cursor: pointer;
  background-image: url(../Images/text_btn.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  text-indent: -9999px;
  z-index: 1;
}

.send.notmobile:hover {
  opacity: 0.7;
}

#popout {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: auto;
  z-index: 4;
}

.type {
  position: absolute;
  display: none;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1000px;
  height: 650px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.type p {
  margin: 25px 0 0 190px;
  width: 708px;
  height: 112px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url(../Images/text_title.png);
  background-repeat: no-repeat;
}

.type .tag {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 224px;
  height: 224px;
  background-image: url(../Images/text_tag.png);
  background-repeat: no-repeat;
}

.type .close {
  position: absolute;
  top: 28px;
  right: 26px;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../Images/icon_close.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  cursor: pointer;
}

.type .pic {
  display: block;
  width: 408px;
  height: 408px;
  margin: 0 auto;
  background-image: url(../Images/text_tag.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.type .btnSection {
  position: relative;
  margin: 10px 0 0;
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.type .btnSection span, .type .btnSection a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.type .btnSection .openPopout {
  padding: 10px 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #F2AB00;
  -webkit-box-shadow: 2px 3px 0 #AE7B01;
  -moz-box-shadow: 2px 3px 0 #AE7B01;
  box-shadow: 2px 3px 0 #AE7B01;
}

.type .btnSection .openPopout.notmobile:hover {
  opacity: 0.7;
}

.type .btnSection .openPopout.notmobile:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(2px, 3px);
  -moz-transform: translate(2px, 3px);
  -ms-transform: translate(2px, 3px);
  -o-transform: translate(2px, 3px);
  transform: translate(2px, 3px);
}

.type .btnSection .fbShare {
  position: absolute;
  top: 4px;
  right: 0;
}

.type .btnSection .fbShare svg {
  width: 54px;
  height: 54px;
}

.type .btnSection .lineShare {
  display: none;
}

.type_1 {
  background-color: #FEBBD4;
}

.type_1 .pic {
  background-image: url(../Images/pic_type_1.png);
}

.type_2 {
  background-color: #B8F1F5;
}

.type_2 .pic {
  background-image: url(../Images/pic_type_2.png);
}

.type_3 {
  background-color: #E0E5FF;
}

.type_3 .pic {
  background-image: url(../Images/pic_type_3.png);
}

.type_4 {
  background-color: #FFF8C9;
}

.type_4 .pic {
  background-image: url(../Images/pic_type_4.png);
}

.type_1 p {
  background-position: 0 0px;
}

.type_1 .tag {
  background-position: 0px 0;
}

.type_2 p {
  background-position: 0 -112px;
}

.type_2 .tag {
  background-position: -224px 0;
}

.type_3 p {
  background-position: 0 -224px;
}

.type_3 .tag {
  background-position: -448px 0;
}

.type_4 p {
  background-position: 0 -336px;
}

.type_4 .tag {
  background-position: -672px 0;
}

.discount {
  position: absolute;
  display: none;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1000px;
  height: 750px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.discount .web {
  display: block;
}

.discount .mobile {
  display: none;
}

.discount .close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0.4;
  background-image: url(../Images/icon_close.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  cursor: pointer;
}

.discount h3 {
  margin: 0;
  text-align: center;
}

.discount .pic {
  float: left;
  margin-top: 26px;
  margin-left: 56px;
  margin-right: -60px;
}

.discount p {
  line-height: 1.8em;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.discount p span {
  color: #B90E0E;
}

.discount ol {
  clear: both;
}

.discount ol p {
  line-height: 1em;
  font-size: 18px;
  text-align: left;
}

.discount ol li {
  text-align: left;
  margin: 12px 20px 12px 15px;
}

.discount .link {
  display: inline-block;
  vertical-align: middle;
  margin: 30px 0;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 35px;
  background-color: #2968BD;
  -webkit-box-shadow: 2px 3px 0 #1C467F;
  -moz-box-shadow: 2px 3px 0 #1C467F;
  box-shadow: 2px 3px 0 #1C467F;
}

.discount .more {
  position: absolute;
  display: block;
  width: 176px;
  height: 176px;
  right: 0;
  bottom: 0;
}

.discount .more img {
  width: 100%;
}

@media screen and (min-width: 751px) and (max-width: 910px) {
  #nav .btnSection {
    margin: 2px 0;
  }
  #nav .btnSection span {
    margin-left: 10px !important;
    font-size: 16px;
  }
  #nav .btnSection a {
    padding: 6px 10px 7px;
    margin: 0;
  }
}

@media screen and (min-width: 641px) and (max-width: 750px) {
  #nav .center {
    min-width: auto;
  }
  #nav .btnSection {
    margin: 2px 0;
  }
  #nav .btnSection span {
    margin-left: 8px !important;
    margin-top: 15px !important;
    font-size: 14px;
    vertical-align: top;
  }
  #nav .btnSection span a {
    padding: 6px 9px 7px;
  }
  #nav .btnSection .share a {
    display: block;
  }
  #nav .btnSection .share a svg {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 640px) {
  #nav {
    height: 40px;
  }
  #nav .center {
    min-width: 0;
  }
  #nav .logo {
    margin-top: 8px;
    width: 120px;
  }
  #nav .btnSection {
    margin: 7px 0;
  }
  #nav .btnSection .share {
    margin-top: 15px;
    margin-right: 10px;
    display: block;
    text-align: right;
  }
  #nav .btnSection a {
    margin: 0 4px;
  }
  #nav .btnSection a svg {
    width: 27px;
    height: 27px;
  }
  #nav .btnSection span a {
    padding: 4px 7px 3px;
    font-size: 12px;
  }
  #nav .btnSection .goTest {
    margin: 0;
  }
  #nav .btnSection .openPopout {
    margin: 0 10px 0 5px;
  }
  #nav .btnSection .intTest {
    margin: 0;
  }
  #header {
    width: 100%;
    height: 312px;
    padding-top: 40px;
    min-width: 0;
  }
  #header:before {
    height: 5px;
  }
  #header .goContent {
    width: 74px;
    height: 38px;
    bottom: -30px;
    margin-left: -37px;
  }
  #header .goContent span {
    width: 14px;
    height: 6px;
    margin-left: -7px;
  }
  .itemOnTable {
    width: 100%;
  }
  .itemOnTable .locate {
    width: 100%;
  }
  .itemOnTable .item {
    display: none;
  }
  .itemOnTable .compass {
    display: block;
    top: 50px;
    left: 0;
    width: 38px;
    height: 68px;
  }
  .itemOnTable .camera {
    display: block;
    width: 134px;
    height: 111px;
  }
  #content {
    min-width: 0;
    margin-top: -39px;
    -webkit-background-size: auto 290px;
    -o-background-size: auto 290px;
    background-size: auto 290px;
  }
  #content h2 {
    margin: 100px auto 0;
    width: 288px;
  }
  #content h2.knowledegTitle {
    margin: 80px auto 0;
    width: 235px;
  }
  #content .decoration .locate {
    width: 100%;
  }
  #content .plane {
    top: 30px;
    right: -30px;
    width: 68px;
    height: 68px;
    background-image: url(../Images/pic_airplane.png);
  }
  #content .boat {
    top: 120px;
    right: 0;
    width: 38px;
    height: 38px;
    background-image: url(../Images/pic_boat.png);
  }
  #footer {
    padding: 10px 0;
    min-width: 0;
  }
  #footer p {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 8px;
  }
  #footer p span {
    display: block;
  }
  #footer .link {
    margin-left: 0;
  }
  .intro {
    width: 100%;
  }
  .intro .title {
    margin-top: 30px;
    width: 150px;
    height: 150px;
  }
  .intro .text_1, .intro .text_2, .intro .text_3, .intro .text_4, .intro .text_5, .intro .text_6, .intro .text_7, .intro .text_8 {
    width: 16px;
  }
  .intro .text_9, .intro .text_10, .intro .text_11 {
    width: 34px;
  }
  .intro .describe {
    width: 244px;
  }
  .intro .describe .web {
    display: none;
  }
  .intro .describe .mobile {
    display: block;
  }
  .intro .boy {
    bottom: 94px;
    left: -36px;
    width: 87px;
    height: 115.5px;
  }
  .intro .girl {
    bottom: 94px;
    right: -34px;
    width: 85.5px;
    height: 115.5px;
  }
  #nav .goTest {
    display: none !important;
  }
  .optionList {
    width: 100%;
  }
  .optionList .option {
    display: block;
    width: 260px;
    height: auto;
    margin: 12px auto;
  }
  .optionList .option:hover {
    border: 0;
  }
  .optionList .option:hover .num {
    top: 10px;
    left: 5px;
    background-position-y: 0;
  }
  .optionList .option:hover .icon {
    margin: 5px 0 5px 30px;
  }
  .optionList .option:hover .text {
    background-position-y: 0;
  }
  .optionList .option.selected .icon {
    background-position-y: -100px;
  }
  .optionList .option_1 .num {
    background-position: 0px 0;
  }
  .optionList .option_1 .icon {
    background-position: 0px 0;
  }
  .optionList .option_1 .text {
    background-position: 0px 0;
  }
  .optionList .option_2 .num {
    background-position: -13px 0;
  }
  .optionList .option_2 .icon {
    background-position: -100px 0;
  }
  .optionList .option_2 .text {
    background-position: -116px 0;
  }
  .optionList .option_3 .num {
    background-position: -26px 0;
  }
  .optionList .option_3 .icon {
    background-position: -200px 0;
  }
  .optionList .option_3 .text {
    background-position: -232px 0;
  }
  .optionList .option_4 .num {
    background-position: -39px 0;
  }
  .optionList .option_4 .icon {
    background-position: -300px 0;
  }
  .optionList .option_4 .text {
    background-position: -348px 0;
  }
  .optionList .option_5 .num {
    background-position: -52px 0;
  }
  .optionList .option_5 .icon {
    background-position: -400px 0;
  }
  .optionList .option_5 .text {
    background-position: -464px 0;
  }
  .optionList .option_6 .num {
    background-position: -65px 0;
  }
  .optionList .option_6 .icon {
    background-position: -500px 0;
  }
  .optionList .option_6 .text {
    background-position: -580px 0;
  }
  .optionList .option_7 .num {
    background-position: -78px 0;
  }
  .optionList .option_7 .icon {
    background-position: -600px 0;
  }
  .optionList .option_7 .text {
    background-position: -696px 0;
  }
  .optionList .option_8 .num {
    background-position: -91px 0;
  }
  .optionList .option_8 .icon {
    background-position: -700px 0;
  }
  .optionList .option_8 .text {
    background-position: -812px 0;
  }
  .optionList .option_9 .num {
    background-position: -104px 0;
  }
  .optionList .option_9 .icon {
    background-position: -800px 0;
  }
  .optionList .option_9 .text {
    background-position: -928px 0;
  }
  .optionList .option .num {
    width: 13px;
    height: 13px;
    top: 10px;
    left: 5px;
    -webkit-background-size: auto 26px;
    -o-background-size: auto 26px;
    background-size: auto 26px;
  }
  .optionList .option .icon {
    float: left;
    margin: 5px 0 5px 30px;
    width: 100px;
    height: 100px;
    -webkit-background-size: auto 200px;
    -o-background-size: auto 200px;
    background-size: auto 200px;
  }
  .optionList .option .text {
    float: left;
    margin-top: 22px;
    margin-left: 10px;
    width: 116px;
    height: 64px;
    background-image: url(../Images/text_item_m.png);
    -webkit-background-size: auto 128px;
    -o-background-size: auto 128px;
    background-size: auto 128px;
  }
  .send {
    margin: 25px auto 20px;
    width: 140.8px;
    height: 37.4px;
  }
  .type {
    width: 302px;
    height: 280px;
  }
  .type p {
    margin: 25px auto 0;
    width: 254px;
    height: 52px;
    text-indent: -9999px;
    background-image: url(../Images/text_title_mobile.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .type .tag {
    width: 65px;
    height: 65px;
    -webkit-background-size: auto 65px;
    -o-background-size: auto 65px;
    background-size: auto 65px;
  }
  .type .close {
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    background-position: 80% 20%;
    -webkit-background-size: 12px;
    -o-background-size: 12px;
    background-size: 12px;
  }
  .type .pic {
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }
  .type .btnSection {
    margin: 10px 0 0;
    font-size: 11px;
  }
  .type .btnSection svg {
    margin-top: 1px;
    margin-left: -1px;
    width: 14px;
    height: 14px;
  }
  .type .btnSection span, .type .btnSection a {
    margin: 0 10px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
  .type .btnSection .openPopout {
    padding: 2px 10px;
  }
  .type .btnSection .fbShare {
    top: 0;
  }
  .type .btnSection .fbShare svg {
    width: 20px;
    height: 20px;
  }
  .type .btnSection .lineShare {
    position: absolute;
    display: block;
    top: 0;
    right: 30px;
  }
  .type .btnSection .lineShare svg {
    width: 20px;
    height: 20px;
  }
  .type_1 p {
    background-position: 0 0px;
  }
  .type_1 .tag {
    background-position: 0px 0;
  }
  .type_2 p {
    background-position: 0 -52px;
  }
  .type_2 .tag {
    background-position: -65px 0;
  }
  .type_3 p {
    background-position: 0 -104px;
  }
  .type_3 .tag {
    background-position: -130px 0;
  }
  .type_4 p {
    background-position: 0 -156px;
  }
  .type_4 .tag {
    background-position: -195px 0;
  }
  .discount {
    width: 305px;
    height: 310px;
  }
  .discount .close {
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    background-position: 80% 20%;
    -webkit-background-size: 12px;
    -o-background-size: 12px;
    background-size: 12px;
  }
  .discount .web {
    display: none;
  }
  .discount .mobile {
    display: block;
  }
  .discount .mobile img {
    width: 100%;
  }
  .discount .link {
    margin: 0;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #FFF;
    font-size: 13px;
    padding: 5px 15px;
  }
  .discount .more {
    width: 68px;
    height: 68px;
  }
}
